/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cursor-glow {
  cursor: pointer;
  position: relative;
}

.cursor-glow::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s;
}

.cursor-glow:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Add responsive design for smaller screens */
@media (max-width: 768px) {
  .menu-container {
    flex-direction: column;
  }
}